<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Gary Tyree">
    <title>Gary Tyree - About Me</title>
    <meta name="description" content="Bioengineer // Data Engineer // R&D Engineer">
    <meta name="keywords" content="resume,portfolio,science,informatics,development,programming,bioengineer,data,projects,cloud,software">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.djordjeatlialp.de/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://gartholomewt.pythonanywhere.com/icon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://gartholomewt.pythonanywhere.com/icon-16x16.png">
    <meta itemprop="name" content="Gary Tyree">
    <meta itemprop="description" content="About Me by Gary Tyree">
    <meta itemprop="datePublished" content="2025-02-12T00:00:00+00:00">
    <meta itemprop="dateModified" content="2025-03-23T23:56:36+01:00">
    <link rel="canonical" href="https://gartholomewt.pythonanywhere.com/">
    <link rel="stylesheet" href="{{ url_for('static', filename='aboutstyle.css') }}">
</head>
<body>

    <!-- HEADER -->
    <header class="header">
        <a href="https://gartholomewt.pythonanywhere.com/" class="logo">Home</a>
        <nav class="menu">
            <ul>
                <li><a href="https://gartholomewt.pythonanywhere.com/About">About Me</a></li>
                <li><a href="{{ url_for('static', filename='website-resume.pdf') }}" target="_blank">Resume</a></li>
                <li><a href="https://gartholomewt.pythonanywhere.com/Projects/">Projects</a></li>
            </ul>
        </nav>
    </header>

    <!-- MAIN CONTENT -->
    <div class="content">
        <main>
            <div>
                <h1>About Me</h1>
                    <div class="content">
                        <p>Hi, I’m Gary.<br><br>I'm a bioengineer and data engineer passionate about bridging the gap between biology and technology. With a strong background in research and development, I specialize in cell biology, bioinformatics, and data-driven problem-solving. My work has focused on optimizing biological systems through computational and experimental approaches. I really enjoy coding, exploring scientific innovations, and refining my technical skills with hands-on projects. Outside of work, I enjoy staying active and creating different forms of media.</p>
                        <img src="{{url_for('static', filename='Headshot-2025.jpg')}}" class="profile-pic" alt="Profile Picture">
                    </div>
                
                <h2>Early Life</h2>
                    <div class="content">
                        <p>I’ve lived most of my life in Tucson, Arizona. I’ve only ever asked for one thing in that time. Less sun and more rain. That’s it. I’m still holding onto that wish in the relatively cool San Diego. There’s never too much rain in my opinion! <br><br>Growing up in Tucson, I was always surrounded by the unique beauty of the Sonoran Desert. My education led me to develop an early interest in science and technology as my preferred toolset. Tucson instilled in me a love for discovery and problem-solving, but the desert’s harsh landscape made me never take nature for granted. This eventually guided me toward a career in engineering where I could improve human health and other biosystems.</p>
                        <img src="{{url_for('static', filename='tucson.webp')}}" class="tucson" alt="Tucson, AZ">
                    </div>
                    
                <h2>University / Internships</h2>
                    <div class="content">
                        <p>In my university years, I focused on bioengineering and data science, honing my skills in computational biology, machine learning, and laboratory research. I worked on research projects involving biochemistry, genetics, evolutionary biology, systems biology, and even medical devices, gaining hands-on experience with design, experimental, and computational tools. Collaborating with interdisciplinary teams allowed me to develop a strong foundation in scientific research and data analysis, reinforcing my passion for using technology to advance biological sciences.</p>
                        <img src="{{url_for('static', filename='UofA.png')}}" class="school-logo" alt="University of Arizona">
                    </div>
                    
                    <div class="content">
                        <p>During my Master’s, I enthusiastically went beyond my course requirements to independently write a grant proposal on rational protein engineering on key metabolic pathways in plant systems. Driven by my passion for applying computational tools to complex biological challenges, I saw this as an opportunity to explore the cutting edge of synthetic biology and rational protein design.</p>
                        <img src="{{url_for('static', filename='UCSD.jpg')}}" class="school-logo" alt="University of California, San Diego">
                    </div>
                    
                <h2>Professional</h2>
                <div class="content">
                    <p>After university, I transitioned into professional roles that combined my expertise in bioengineering with data-driven research. I’ve contributed to projects ranging from electroporation devices and cell therapy products to designing a biomedical startup’s data architecture and developing data science pipelines for advanced modeling. My experience spans R&D, engineering, and strategic data applications in biotechnology. I thrive in environments that push me to innovate, tackle complex challenges, and drive meaningful advancements in science and technology. Ultimately, my goal is to leave the world a little better than I found it.</p>
                </div>
            </div>
        </main>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <span>© 2025</span>
        <span>
            <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>
        </span>
    </footer>

</body>
</html>
