<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Gary Tyree">
    <title>Gary Tyree - Resume</title>
    <meta name="description" content="Bioengineer // Data Engineer // R&D Engineer">
    <meta name="keywords" content="resume,portfolio,science,informatics,development,programming,bioengineer,data,projects,cloud,software">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.djordjeatlialp.de/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://gartholomewt.pythonanywhere.com/icon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://gartholomewt.pythonanywhere.com/icon-16x16.png">
    <meta itemprop="name" content="Gary Tyree">
    <meta itemprop="description" content="Resume by Gary Tyree">
    <meta itemprop="datePublished" content="2025-02-12T00:00:00+00:00">
    <meta itemprop="dateModified" content="2025-02-12T23:56:36+01:00">
    <link rel="canonical" href="https://gartholomewt.pythonanywhere.com/">
    <link rel="stylesheet" href="{{ url_for('static', filename='resumestyle.css') }}">
</head>
<body>

    <!-- HEADER -->
    <header class="header">
        <a href="https://gartholomewt.pythonanywhere.com/" class="logo">Home</a>
        <nav class="menu">
            <ul>
                <li><a href="https://gartholomewt.pythonanywhere.com/about/">About Me</a></li>
                <li><a href="https://gartholomewt.pythonanywhere.com/resume/">Resume</a></li>
                <li><a href="https://gartholomewt.pythonanywhere.com/projects/">Projects</a></li>
            </ul>
        </nav>
    </header>

    <!-- MAIN CONTENT -->
    <div class="content">
        <main>
            <div>
                <h1>About Me</h1>
                <p>This is p1 here</p>
                
                <h2>Early Life</h2>
                <p>This is p2 here</p>
                
                <h2>University/Internships</h2>
                <p>This is p3 here</p>
                
                <h2>Professional</h2>
                <p>This is p4 here</p>
            </div>
        </main>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <span>© 2025</span>
        <span>
            <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>
        </span>
    </footer>

</body>
</html>
